<!DOCTYPE html>
<html>
<head>
    <title>Página Secreta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secret_page.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">{{ user.username }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
        </div> 
    </div>

    <div class="content">
        <h1>Bienvenido, {{ user.username }}</h1>
        <p>Esta es una página protegida</p>
        <p>Correo electrónico: {{ user.mail }}</p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
