<!DOCTYPE html>
<html>
<head>
    <title>Página Secreta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secret_page.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">{{ user.username }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
        </div> 
    </div>

    <div class="content">
        <h1>Bienvenido, {{ user.username }}</h1>
        <p>Esta es una página protegida</p>
        <p>Correo electrónico: {{ user.mail }}</p>
    </div>

    <div>
        <h2>Ingresos</h2>
        {% for income in incomes %}
        <p>{{ income.date.strftime('%Y-%m-%d') }}: {{ income.amount }} - {{ income.description }}</p>
        {% endfor %}
    </div>

    <div>
        <h2>Gastos</h2>
        {% for expense in expenses %}
        <p>{{ expense.date.strftime('%Y-%m-%d') }}: {{ expense.amount }} - {{ expense.description }}</p>
        {% endfor %}
    </div>
    
    <form method="post" action="{{ url_for('add_income') }}">
        <h3>Añadir Ingreso</h3>
        <input type="number" name="amount" placeholder="Cantidad" required>
        <input type="text" name="description" placeholder="Descripción">
        <input type="date" name="date" required>
        <button type="submit">Añadir</button>
    </form>

    <form method="post" action="{{ url_for('add_expense') }}">
        <h3>Añadir Gasto</h3>
        <input type="number" name="amount" placeholder="Cantidad" required>
        <input type="text" name="description" placeholder="Descripción">
        <input type="date" name="date" required>
        <button type="submit">Añadir</button>
    </form>
    
    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
